@import url("../../node_modules/@tabler/core/dist/css/tabler.min.css");
@import url("../../node_modules/@tabler/core/dist/css/tabler-themes.min.css");
@import url("../../node_modules/@tabler/core/dist/css/tabler-vendors.min.css");

@import url("../../node_modules/@tabler/icons-webfont/dist/tabler-icons.min.css");

html {
	margin-left: 0 !important;
}

.swal-popup {
	background-color: var(--tblr-bg-surface) !important;
}

.colored-toast.swal2-icon-success {
	box-shadow: 0 4px 12px rgba(40, 167, 69, 0.4) !important;
}
.colored-toast.swal2-icon-error {
	box-shadow: 0 4px 12px rgba(220, 53, 69, 0.4) !important;
}

.modal-backdrop {
	background-color: #000;
}
body.modal-open {
	overflow: hidden !important;
}

.dashboard-container {
	display: flex;
	min-height: 100vh;
	overflow: hidden;
}

.sidebar {
	width: 240px;
	flex-shrink: 0;
	background-color: var(--tblr-bg-surface); /* Dark Sidebar */
	color: white;
	display: flex;
	flex-direction: column;
	transition: margin-left 0.3s;
}

.sidebar .nav-link {
	padding: 12px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.sidebar .nav-link:hover {
	color: var(--tblr-secondary);
	background-color: color-mix(
		in srgb,
		var(--tblr-nav-link-color) 7%,
		transparent
	);
}

.sidebar .nav-link.active {
	color: var(--tblr-secondary);
	background-color: rgba(0, 0, 0, 0.2);
}

.action::after {
	display: none;
}

.main-content {
	flex-grow: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

@media (max-width: 991.98px) {
	.sidebar.desktop-sidebar {
		display: none;
	}
}
